NODE_ENV=development
PORT=4000
JWT_SECRET=<generate-a-random-64-char-hex-string>
ENCRYPTION_KEY_HEX=<generate-a-random-64-char-hex-string>
DEFAULT_DND_START=21:00
DEFAULT_DND_END=07:00
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=<set-db-user>
DB_PASSWORD=<set-db-password>
DB_NAME=<set-db-name>
